/* users show page styles */
.user-show-avatar {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.job_title_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #cc3300;
    color: white;
    text-align: center;
}



.well.profile-block {
    color: #fff;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    border-color: #fff;
    background-color: #329a67;
 
}

.well.contact-info{
    border-color: #46b8da;
    background-color: #5bc0de;
}

/* users index page styles */
.user-index-avatar {
    border-radius: 50%;

}

.well.white-bg{
    background-color: #fff;
}